# Global owners
* @CampsiteBot/all-members

# ----------------- #
# Code Owner Update #
# ----------------- #
/.github/CODEOWNERS @robronayne
/.github/required-reviewers.yml @robronayne

# -------------- #
# Backend owners #
# -------------- #
/web/backend/ @CampsiteBot/backend

# --------------- #
# Frontend owners #
# --------------- #
/web/frontend/ @CampsiteBot/frontend
